asgiref
beautifulsoup4
certifi
crispy-bootstrap5
distlib
Django
django-bootstrap4
django-crispy-forms
django-environ
filelock
mysql-connector-python
Pillow
pipenv
platformdirs
protobuf
psycopg2
PyExecJS
setuptools
six
soupsieve
sqlparse
tzdata
virtualenv